/* Color Theme Swatches in Hex */
$Colorist-UI-Theme-1-hex: 353D51;
$Colorist-UI-Theme-2-hex: #ACB1BF;
$Colorist-UI-Theme-3-hex: #EAECFF;
$Colorist-UI-Theme-4-hex: #65F1E0;
$Colorist-UI-Theme-5-hex: #FA5C5E;

/* Color Theme Swatches in RGBA */
$Colorist-UI-Theme-1-rgba: rgba(52, 61, 80, 1);
$Colorist-UI-Theme-2-rgba: rgba(172, 177, 191, 1);
$Colorist-UI-Theme-3-rgba: rgba(233, 235, 255, 1);
$Colorist-UI-Theme-4-rgba: rgba(100, 240, 223, 1);
$Colorist-UI-Theme-5-rgba: rgba(249, 91, 93, 1);

/* Color Theme Swatches in HSLA */
$Colorist-UI-Theme-1-hsla: hsla(0, 20, 26, 1);
$Colorist-UI-Theme-2-hsla: hsla(0, 12, 71, 1);
$Colorist-UI-Theme-3-hsla: hsla(0, 100, 95, 1);
$Colorist-UI-Theme-4-hsla: hsla(0, 83, 67, 1);
$Colorist-UI-Theme-5-hsla: hsla(0, 94, 67, 1);